<div class="card">
    <div class="card-body">
        <h5 class="titulo">{{titulo | uppercase }}
          <div *ngIf="loading" class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
          </div>
        </h5>
       <form [formGroup]="form " (ngSubmit)="crearTarjeta()">
        <div class="input-group input-group-lg mb-3">
            <span class="input-group-text" id="basic-addon1">
                <i class="fa-solid fa-circle-user"
                [class.green-icon]="this.form.get('titular')?.valid"
                [class.red-icon]="this.form.get('titular')?.invalid && this.form.get('titular')?.touched"
                ></i>
            </span>
            <input type="text" class="form-control" formControlName="titular" placeholder="Titular" >
          </div>
          <div class="input-group input-group-lg mb-3">
            <span class="input-group-text" id="basic-addon1">
                <i class="fa-solid fa-credit-card"
                [class.green-icon]="this.form.get('numeroTarjeta')?.valid"
                [class.red-icon]="this.form.get('numeroTarjeta')?.invalid && this.form.get('numeroTarjeta')?.touched"
                ></i>
            </span>
            <input type="text" class="form-control" placeholder="Numero de Tarjeta" maxlength="16" formControlName="numeroTarjeta">
          </div>
          <div class="row">
              <div class="col-lg-7">
                <span class="input-group-text" id="basic-addon1">
                    <i class="fa-solid fa-calendar-alt"
                    [class.green-icon]="this.form.get('fechaExpiracion')?.valid"
                    [class.red-icon]="this.form.get('fechaExpiracion')?.invalid && this.form.get('fechaExpiracion')?.touched"
                    ></i></span>
                <input type="text" class="form-control" placeholder="MM/YY" formControlName="fechaExpiracion" maxlength="5">
              </div>
              <div class="col-lg-5">
                <span class="input-group-text" id="basic-addon1">
                    <i class="fa-solid fa-key"
                    [class.green-icon]="this.form.get('cvv')?.valid"
                    [class.red-icon]="this.form.get('cvv')?.invalid && this.form.get('cvv')?.touched"
                    ></i></span>
                <input type="password" class="form-control" placeholder="CVV" formControlName="cvv" maxlength="3">
              </div>
          </div>
          <div class="d-grid gap-2 mt-2">
            <button [disabled]="form.invalid" class="btn btn-success btn-lg" type="submit"> <i class="fa-solid fa-database"></i> Button</button>
            
          </div>
       </form>

    </div>
</div>
